.header-container {
  width: 99.1%;
  height: 95%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0 5px;
}
#proj-hr {
  border: 1px solid #ddd;
  width: 100%;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  height: 90%;
}

#project-details {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

#header,
#project-details {
  border-radius: 5px;
}
/* CSS for header with search input and icons */
#header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
}

#search,
#icons {
  display: flex;
  justify-content: start;
  align-items: center;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  gap: 15px;
  margin-left: auto;
}

/* CSS for project details section */

#project-details {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#owner {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 12px;
}

#owner button {
  border: none;
  padding: auto;
  border-radius: 3px;
  background-color: #ddd;
  height: 20px;
}

#owner p {
  color: #aaa;
}

#owner p span {
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#team {
}
