.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 1.9%;
  right: 22.4%;
  width: 65.4%;
  height: 80%;
  z-index: 100;
}

.modal-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

#close-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#close-btn button {
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
}

#task-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  outline: none;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

#create-task-body {
  width: 95%;
  margin-top: 15px;
  height: 100%;
}

#task-main-sec {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  margin: 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#task-main-sec form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 90%;
  background-color: #ccc;
  gap: 10px;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 5px;
  border: 1px solid #ddd;
}

#form-btns {
  display: flex;
  justify-content: space-between;
  width: 22%;
}

#form-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px;
}

#form-btns button:hover {
  background-color: #ddd;
}

#task-main-sec form input,
select,
textarea {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

#task-main-sec form textarea {
  max-width: 98.5%;
  max-height: 100px;
}
