.temp-container {
  border: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 0.3fr 4.4fr;
  width: 100%;
  height: 100%;
}

.home-container {
  border: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 0.3fr 4.4fr;
  width: 100%;
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: auto 4fr;
  height: 100vh;
  gap: 0.1rem;
}

.tasks {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.6rem;
  padding: 0 5px;
}
