.details-container {
  width: 95%;
  height: 100%;
  margin: 0;
  padding: 0 6px;
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.7fr 1fr 1.2fr;
  border-radius: 5px;
  gap: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #aaa;
}

.details-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hr {
  border: 1px solid #dddddd;
  width: 96%;
  margin: 2px 0;
  padding: 0;
}

#task-name,
.details-container h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 4px 0;
  padding: 0;
  color: whitesmoke;
}

.details-container div div {
  padding: 0;
  margin: 1.5px 0;
  font-size: 12px;
  color: #dddddd;
}

#task-comments input {
  outline: none;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 3px;
  width: 95%;
  margin: 3px 0 3px 3px;
}

.details-container div div div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.details-container div div span {
  margin: 0;
  padding: 0;
}

.detail-info {
  color: whitesmoke;
  font-weight: 400;
}

#detailed-descr {
  width: 100%;
  height: 100%;
}
