#main-container {
  display: grid;
  grid-template-rows: 1fr 1fr 10fr;
}

/* CSS for ribbon just above project categories */
#ribbon {
  display: flex;
  flex-direction: column;
}

#ribbon-details {
  display: flex;
  justify-content: space-between;
  height: 99%;
}

hr {
  border: 1px solid #dddddd;
}

#menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#ui-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

#ui-controls button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

#ui-controls div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* CSS foe ribbon with categories */
.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 0.8rem;
}

.category div {
  display: flex;
  gap: 0.3rem;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.category div div {
  background-color: #eeeeee;
  width: 15px;
  border: none;
  border-radius: 15%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 0.5% 1%;
}

#task-option {
  margin-left: auto;
  margin-right: 10px;
}

/* CSS for task cards */
#task-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
}

#todo-cards,
#in-progress-cards,
#in-review-cards,
#done-cards {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
